# --------------------------
# Miscellaneous / System
# --------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
*.lock
*.tmp

# --------------------------
# IDEs
# --------------------------
.idea/
*.iml
*.ipr
*.iws
.vscode/

# --------------------------
# Flutter / Dart / Pub
# --------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
key.properties

# --------------------------
# Android Studio / Gradle
# --------------------------
/android/app/debug
/android/app/profile
/android/app/release
*.gradle
/local.properties

# --------------------------
# Symbolication / Obfuscation
# --------------------------
app.*.symbols
app.*.map.json

# --------------------------
# Platform specific
# --------------------------
/windows/flutter_build/
/linux/flutter_build/
/macos/Flutter/Flutter.framework/
/macos/Flutter/Flutter.podspec
